.wrapper {
  width: 900px;
  margin: auto;
  color: #626262;
}

.menu {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.menu-item {
  display: inline-block;
  list-style: none;
  padding: 50px 50px 50px 50px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Playfair Display";
}

.link {
  color: #626262;
  text-decoration: none;
}

.link:hover {
  color: #03a9f4;
}

.sect {
  display: inline-block;
  width: 420px;
  /* margin-right: -4px; */
}

.positioning {
  margin-right: 55px;
}

.btn-box {
  margin: 50px auto;
}

.btn-one {
  display: block;
  margin: 50px auto;
  padding: 10px 25px;
  border: 1px solid #626262;
  color: #626262;
}

.subtitle {
  color: #b4ad9e;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ubuntu";
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

